/*the tag selecter*/
p{
	color:green;
}
/*the id selecter*/
#slideshow{
	border: 5PX solid deeppink;

}

/*the class Selector*/
.oval{
	display: inline-block;
	width: 24%;
	height: 200px;
	border: 2px solid red;
	border-radius: 50%;
	text-align: center;
	line-height: 200px;
	font-size: 30px;
	background-color: blue ;
	font-family: Arial;
}
.rect{
	display: inline-block;
	width: 24%;
	height: 200px;
	border: 2px solid green;
	text-align: center;
	line-height: 200px;
	font-size: 30px;
	background-color: pink;
	font-family: Arial;
}